<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <main>
    <section>
      <h2 class="section__header">All Blogs</h2>

      <div class="blogs">
        <% if (blogs && blogs.length > 0) { %>
          <% blogs.forEach(({title, content}) => { %>

            <article class="post">
              <h3 class="post__title"><%= title %></h3>
              <p><%= content %></p>
            </article>

          <% }) %>
        <% } else { %>
          <p>There's no post to show ...</p>
        <% } %>
      </div>

    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
