<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <main>
    <section>
      <h2 class="section__header">All Blogs</h2>

      <div class="blogs">
        <% if (blogs && blogs.length > 0) { %>
          <% blogs.forEach(({title, content, _id, createdAt, description}) => { %>

            <article class="card">
              <a href="/blogs/<%= _id %>">
                <header class="card__head">
                  <h3 class="card__title"><%= title %></h3>
                  <p class="card__date"><%= createdAt.toLocaleDateString("en-US") %></p>
                </header>
                <% if (description) { %>
                  <p><%= description %></p>
                <% } %>
              </a>
            </article>

          <% }) %>
        <% } else { %>
          <p>There're no posts to show ...</p>
        <% } %>
      </div>

    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
